*{
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #ffffff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 850px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

/* HEADER */
header {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

header h1 {
  margin: 0;
  font-size: 22px;
}

header p {
  margin: 2px;
  font-size: 12px;
  color: gray;
}

/* CHAT AREA */
#chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #fafafa;
}

/* BUBBLES */
.bubble {
  padding: 13px;
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 85%;
  font-size: 15px;
  line-height: 1.5;
}

.user {
  background: #000000;
  color: white;
  margin-left: auto;
}

.bot {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  color: black;
}

/* CODE BLOCK */
pre {
  background: black !important;
  color: #00ffd5;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
  position: relative;
  margin-top: 10px;
}

.copy-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  background: white;
  border: none;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

/* INPUT */
.input-area {
  display: flex;
  padding: 12px;
  border-top: 1px solid #e5e5e5;
  background: white;
  gap: 10px;
}

textarea {
  flex: 1;
  height: 45px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 14px;
}

button {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

/* MOBILE */
@media(max-width:500px){
  .bubble {
    max-width: 100%;
  }
}
